asgiref==3.12.1
Django==6.1
django-axes==8.3.1
django-cors-headers==4.9.0
django-environ==0.14.0
djangorestframework==3.18.0
openpyxl==3.1.5
gunicorn==26.0.0
psycopg[binary]==3.3.4
pypdf==6.16.2
reportlab==4.4.10
sqlparse==0.6.0
tzdata==2026.3
whitenoise==6.12.0
